<div style="height: 60px">
  <div class="fixed bottom-0 w-full border-t">
    <ul style="height: 60px" nz-menu nzMode="horizontal" class="flex justify-center">
      <li nz-menu-item nzMatchRouter routerLink="/guest/dashboard">
        <i nz-icon nzType="home" class="text-2xl"></i>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/guest/register">
        <i nz-icon nzType="plus" class="text-2xl"></i>
      </li>
      <li nz-menu-item nzMatchRouter routerLink="/guest/relative">
        <i nz-icon nzType="team" class="text-2xl"></i>
      </li>
      <li nz-menu-item nzDisabled (click)="confirmLogout()">
        <i nz-icon nzType="logout" class="text-red-500 text-2xl"></i>
      </li>
    </ul>
  </div>
</div>
