<nz-card class="grow" [nzActions]="canBeCanceled(profile.status) ? [actionDetails, actionCancel] : [actionDetails]">
  <h3 nz-typography>{{profile.patientProfile.fullName}}</h3>
  <ng-container [ngSwitch]="profile.status">
    <div *ngSwitchCase="vcnProfileStatusEnum.CREATED" class="profile-card-status">Đã đăng ký</div>
    <div *ngSwitchCase="vcnProfileStatusEnum.CHECKED_IN" class="profile-card-status profile-process">Đã đến điểm tiêm</div>
    <div *ngSwitchCase="vcnProfileStatusEnum.TESTED_FAILED" class="profile-card-status profile-danger">Khám sàng lọc thất bại</div>
    <div *ngSwitchCase="vcnProfileStatusEnum.TESTED_PASS" class="profile-card-status profile-process">Khám sàng lọc thành công</div>
    <div *ngSwitchCase="vcnProfileStatusEnum.PAID" class="profile-card-status profile-process">Đã thanh toán</div>
    <div *ngSwitchCase="vcnProfileStatusEnum.INJECTED" class="profile-card-status profile-process">Đã tiêm</div>
    <div *ngSwitchCase="vcnProfileStatusEnum.COMPLETED" class="profile-card-status profile-success">Đã hoàn thành tiêm</div>
    <div *ngSwitchCase="vcnProfileStatusEnum.CANCELED" class="profile-card-status profile-danger">Đã hủy tiêm</div>
    <div *ngSwitchCase="vcnProfileStatusEnum.FAILED" class="profile-card-status profile-danger">Triệu chứng xấu</div>
  </ng-container>
  <table class="mt-3">
    <tbody>
    <tr>
      <td class="pr-2 pb-2">Ngày hẹn tiêm:</td>
      <td class="pb-2 font-bold">{{profile.expectedInjectionTime | date: 'dd/MM/yyyy'}}</td>
    </tr>
    <tr>
      <td class="pr-2 pb-2">Ngày tiêm:</td>
      <td class="pb-2 font-bold">{{(profile.injectionTime | date: 'dd/MM/yyyy') || 'Chưa cập nhật'}}</td>
    </tr>
    <tr>
      <td class="pr-2 pb-2">Gói tiêm chủng:</td>
      <td class="pb-2 font-bold">{{profile.selectedPackage.name}}</td>
    </tr>
    <tr>
      <td class="pr-2">Điểm tiêm:</td>
      <td>
        <span class="font-bold">{{profile.selectedSite.name}}</span>
        -
        {{profile.selectedSite.province.name}},
        {{profile.selectedSite.district.name}},
        {{profile.selectedSite.ward.name}}
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #actionDetails>
    <i class="hover:text-blue-500" nz-icon nzType="search" nzTheme="outline" [routerLink]="['/guest/dashboard', profile.id]"></i>
  </ng-template>
  <ng-template #actionCancel>
    <i class="hover:text-red-500" nz-icon nzType="close" nzTheme="outline" (click)="openDeleteModal(profile)"></i>
  </ng-template>
</nz-card>
