<form nz-form [formGroup]="validateForm" class="login-form">
  <nz-form-item>
    <nz-form-control nzErrorTip="Vui lòng điền số điện thoại!">
      <nz-input-group nzPrefixIcon="user">
        <input type="text" nz-input formControlName="phone" placeholder="Số điện thoại" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <div class="flex gap-2">
    <nz-form-item class="grow">
      <nz-form-control nzErrorTip="Vui lòng nhập mã OTP!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="otp" placeholder="Mã OTP" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button [nzLoading]="getOTPLoading" nz-button class="login-form-margin grow" [nzType]="'primary'" (click)="getOTP()">Lấy OTP</button>
  </div>
  <button [nzLoading]="loading" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="submitForm()">Đăng nhập</button>
</form>
