<div style="height: 67px">
  <div style="z-index: 10" class="fixed top-0 w-full bg-white flex items-center px-3 py-2 border-b">
    <img routerLink="/guest" width="50" src="assets/images/Ministry_of_Health_(Vietnam)_Logo.svg.png" alt="">
    <div class="text-xl pl-3">{{appName}}</div>
    <nz-avatar class="ml-auto" [nzSize]="40" nzIcon="user" nz-dropdown [nzDropdownMenu]="menuProfile"></nz-avatar>
  </div>
</div>
<nz-dropdown-menu #menuProfile="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item class="text-green-500" routerLink="/guest/register">
      <i nz-icon nzType="plus"></i>
      <span class="pl-2">Đăng ký tiêm</span>
    </li>
    <li nz-menu-item routerLink="/guest/relative">
      <i nz-icon nzType="team" nzTheme="outline"></i>
      <span class="pl-2">Hồ sơ người thân</span>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item class="text-red-500" (click)="logout.emit()">
      <i nz-icon nzType="logout"></i>
      <span class="pl-2">Đăng xuất</span>
    </li>
  </ul>
</nz-dropdown-menu>

