.profile-create {
  color: theme('colors.blue.500');
}

.profile-success {
  color: theme('colors.green.500');
}

.profile-danger {
  color: theme('colors.red.500');
}

.profile-process {
  color: theme('colors.yellow.500');
}
