/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.form-flex-label {
  width: 100%;
  font-weight: bold;
  color: gray;
  padding-bottom: 0.25rem;
}

.form-flex-group {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}
