<app-semi-datatable
  #dataTable
  [api]="apiUrl"
  [columns]="['patientProfile.idCard', 'patientProfile.fullName', 'patientProfile.birthday', 'patientProfile.gender', 'selectedPackage.name']"
  [titles]="['CMND/CCCD', 'Họ tên', 'Ngày sinh', 'Giới tính', 'Gói tiêm chủng']"
  [masks]="tableMasks"
  [actions]="tableActions"
></app-semi-datatable>

<ng-template #symptomsTmpl>
  <div class="form-flex-label">Mô tả triệu chứng</div>
  <textarea nz-input [(ngModel)]="symptoms" rows="5"></textarea>
</ng-template>
